<div class="grid">
    <div class="grid">
        <div id="carousel1" class="carousel" data-role="carousel" data-param-duration="300" style="max-width: 400px; margin: auto">
            <div class="slides">

                <div class="slide image" id="slide1" style="left: 0px;">
                    <h2>Slide 1</h2>
                    <img src="~/Images/websiteimages/thuleng001017.jpg" />

                </div>

                <div class="slide" id="slide2" style="display: block; left: -580px;">
                    <h2 class="fg-color-darken">Slide 2</h2>
                    <p class="bg-color-pink padding20 fg-color-white">
                    </p>

                </div>

                <div class="slide" id="slide3" style="display: block; left: -580px;">
                    <h2>Slide 3</h2>
                    <p class="bg-color-red fg-color-white padding20">
                    </p>
                </div>
            </div>

            <span class="control left"><i class="icon-arrow-left-3"></i></span>
            <span class="control right"><i class="icon-arrow-right-3"></i></span>

            <div class="markers">
                <ul>
                    <li class="active"><a href="javascript:void(0)" data-num="0"></a></li>
                    <li class=""><a href="javascript:void(0)" data-num="1"></a></li>
                    <li class=""><a href="javascript:void(0)" data-num="2"></a></li>
                </ul>
            </div>
        </div>
        <br/>
        <br/>
    </div>
    <div class="grid two-columns">
        From basic PA hire, AV & Lighting hire,
    you'll find all the equipment you need to hire and the technical expertise at Thuleng Entertainments.

    We hire to private and business customers, venues, event organisers, and performers.

    Thuleng Entertainments is an events partner you can rely on, giving you quality service as high priority. Events |Conferences |Shows |Concerts
    |Festivals |Product Launches "MaBrr" - The Brenda Fassie Musical, at the State Theatre [Sound Supplier] BLACK AMBITION BOOK LAUNCH ASCCI BUSINESS CONFERENCE FIFA 2010 STATE BANQUET SOME OF OUR HIGHLIGHTS . . . 2011 The Naledi Theatre Award nominee for 
    “Best Sound in MaBrr” 2010
    Gallagher Estates – FIFA 2010 State Banquet where President Jacob Zuma awarded Sepp Blatter with the Order of the Companions of OR Tambo award and Set-up for African Footprint performance 2009 SAB Kickstart Finalist, North Region All Rights Reserved. © Copyright 2011 Thuleng Entertainments.

    </div>
</div>
<div class="row">
    <div class="tile bg-color-greenLight icon" style="background-image: url(../../Images/websiteimages/thuleng001009.jpg); background-size: 100% 100%">
        <div class="tile-content">
        </div>
        <div class="brand">
            <span class="name">Black Ambition Book Launch</span>
        </div>
    </div>
    <div class="tile bg-color-greenLight icon" style="background-image: url(../../Images/websiteimages/thuleng001007.jpg); background-size: 100% 100%;">
        <div class="tile-content">
        </div>
        <div class="brand">
            <span class="name">Ascci Business Conference</span>
        </div>
    </div>
    <div class="tile " style="background-image: url(../../Images/websiteimages/thuleng001006.jpg); background-size: 100% 100%">
        <div class="tile-content">
        </div>
        <div class="brand ">
            <span class="name">Fifa 2010 State Banquet</span>
        </div>
    </div>
    <div class="tile double">
        <div class="tile-content">
            <strong>Some of our highlights...</strong>
            <br />
            <p style="font-size: 10px">
                <strong>2011</strong>
                The Naledi Theatre Award nominee for 
                "Best Sound in MaBrr"
                <br />
                <strong>2010</strong>
                Gallagher Estates – FIFA 2010 State Banquet where President Jacob Zuma awarded Sepp Blatter with the Order of the Companions of OR Tambo award and Set-up for African Footprint performance
                <br />
                <strong>2009</strong>
                SAB Kickstart Finalist, North Region
            </p>
        </div>

    </div>
</div>
